#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

#app {
  font-family: "Mali", cursive;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* text-align: center; */
  color: #000000;
}

.site-layout .site-layout-background {
  background: #fff;
}

.right {
  position: absolute;
  right: 0px;
}
.end {
  display: flex;
  justify-content: end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

/* Table */ /* Modify list text and background color   */
th.column-money,
td.column-money {
  text-align: right !important;
}
.ant-table-content {
  background-color: #fceee2;
  /* color: rgb(127, 127, 127); */
  /* border: 1px solid #D59C6F; */
}
.ant-table-thead {
  /* color: white; */
  background: #3071b9 !important;
  border: 1px solid #3071b9;
}

/* crad Live */
.crad-live {
  height: 350px;
  width: 100%;
  /* border: 1px solid #e7e7ff; */
}
.ant-collapse-header {
  background: #5574a7;
  /* text-align: center; */
  color: #fff;
}

/* Hesder Menu */

/* card VariouRresults */
#components-grid-demo-flex :deep(.ant-row) {
  background: rgba(128, 128, 128, 0.08);
}

.ant-card-body {
  background: #e7e7ff;
  /* border: 1px solid #4CAF50; */
}

.text-dark {
  color: #050c11;
}

/* FootballProgram */
.bg-card {
  background: #003147;
  border: 1px solid #003147;
  border-radius: 12px;
  width: 100%;
  height: 35px;
  color: #ffff;
  padding: 4px;
  text-align: center;
}

/* CarouselBanner */
/* For demo */
.ant-carousel :deep(.slick-slide) {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel :deep(.slick-slide h3) {
  color: #fff;
}
